{% extends 'base.html.twig' %}

{% block title %}Services - Samba SOW SOW{% endblock %}

{% block body %}
  <section class="features_area">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 text-center">
					<div class="main_title">
						<h2>{{ 'slogan.services'|trans }}</h2>
						<p class="">
							{{ 'paragraph.introServices'|trans }}
						</p>
					</div>
				</div>
			</div>
			<div class="row feature_inner">
				<div class="col-lg-3 col-md-6">
					<div class="feature_item">
						<img src="{{ asset('build/images/img/services/s1m.png')}}" alt="">
						<h4>{{ 'title.serviceDev'|trans }}</h4>
						<p>{{ 'paragraph.serviceDev'|trans }}</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="feature_item">
						<img src="{{asset('build/images/img/services/s2.png')}}" alt="">
						<h4>{{ 'title.serviceSass'|trans }}</h4>
						<p>{{ 'paragraph.serviceSass'|trans }}ploser votre budget. 
						{# <strong>Voici ce que je propose :</strong><br>
						<strong>Des outils adaptés à vos besoins :</strong> Gestion des clients, suivi des stocks, planification des projets… chaque fonctionnalité est développée pour coller à votre activité. <br>
						<strong>Une accessibilité en ligne :</strong> Vos données disponibles partout, tout le temps, sur tous vos appareils. <br>
						<strong>Une interface simple et intuitive :</strong> Pas besoin d’être un pro de la tech pour utiliser votre application. <br>
						<strong>Sécurité et évolutivité :</strong> Vos données sont protégées et votre application peut évoluer au fil de vos besoins. #}
						</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="feature_item">
						<img src="{{ asset('build/images/img/services/s3.png')}}" alt="">
						<h4>{{ 'title.serviceSEO'|trans }}</h4>
						<p>{{ 'paragraph.serviceSEO'|trans }}</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="feature_item">
						<img src="{{ asset('build/images/img/services/s4.png')}}" alt="">
						<h4>{{ 'title.serviceEcommerce'|trans }}</h4>
						<p>{{ 'title.serviceEcommerce'|trans }}</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Features Area =================-->

{% endblock %}
